body{
    font-family: 'Recursive',monospace;
    background-color: #FB6B6B;
}
h1{
    font-family: 'Righteous',cursive;
    color:#FFFFFF;
    font-size:36px;
    margin:40px 0;
}
button{
    font-family: 'Recursive',monospace;
}
h2{
    font-weight: 1000;
}

.welcome{
    background-color: #FB6B6B;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    z-index: 1;
}
.welcome img{
    height:150px;
}
.welcome button{
    background-color: #FFFFFF;
    border:solid 1px #D70900;
    color:#D70900;
    box-shadow: 0 2px 4px rgba(0,0,0,0.25);
    font-size: 18px;
    width:250px;
    height:56px;
    border-radius: 5px;
}

span{
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header img{
    width:52px;
    height:60px;
    margin-right: 30px;
}
.container{
    display:flex;
    flex-direction: column;
    align-items: center;
    width:100%;
    margin-bottom:120px;
}
.questions{
    margin-top:25px;
}
li{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:0 22px;
    border-radius: 5px;
    width:300px;
    background-color: #FFFFFF;
    box-shadow: 0 2px 4px rgba(0,0,0,0.25);
    margin-bottom:28px;
    box-sizing: border-box;
}
li ion-icon{
    font-size: 28px;
    --ionicon-stroke-width: 50px;
}
li button{
    width:84px;
    height:36px;
    color:#FFFFFF;
    border-radius: 5px;
    border:none;
    overflow-wrap: break-word;
    word-wrap: break-word;
    box-sizing: border-box;
}

li span{
    justify-content: space-between;
}

.fechada{
    height:65px;
}
.aberta{
    padding:20px 15px 8px 15px;
    height:130px;
    flex-direction: column;
    align-items: flex-start;
    position:relative;
}
.aberta img{
    width:30px;
    height:20px;
    position: absolute;
    bottom:8px;
    right:15px;
}
.answered{
    text-decoration: line-through;
}

ion-icon[name="help-circle"] {
    font-size: 28px;
    color:#FF922E;
}
ion-icon[name="checkmark-circle"] {
    font-size: 28px;
    color:#2FBE34;
}
ion-icon[name="close-circle"] {
    font-size: 28px;
    color:#FF3030;
}
.progressBar{
    width:100%;
    height:70px;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    position:fixed;
    bottom:0;
    left:0;
}